a:focus {
  outline: none;
}

.nav-title {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2em;

  margin-top: -6px;
  img {
    display: inline-block;

    margin-top: -8px;
  }
}

.modal-content {
  border: 0 solid #999;
  border: 0 solid rgba(0,0,0,0.2);
}

.grid-container {
  width: 100vw;
  height: 100vh;
  margin-top: -20px;

  background-color: #dcdcdc;
}

#username {
  // display: inline-block;
  font-family: 'Love Ya Like A Sister', cursive;
  // font-size: 12px;

  position: absolute;
  top: 16px;
  right: 18vw;

  color: grey;
}


@media (max-width: 992px) {
  #username {
    right: 23vw;
  }
}

@media (max-width: 768px) {
  #username {
    right: 75px;
  }
}

@media (max-width: 380px) {
  #username {
    display: none;
  }
}
