
.nav-title {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2em;

  margin-top: -6px;
  img {
    display: inline-block;

    margin-top: -8px;
  }
}

.grid-container {
  width: 100vw;
  height: 100vh;
  margin-top: -20px;

  background-color:#dcdcdc;
}
